---
layout: work
title: Nixie Watch
hero: nix4.jpg
color: "#C30A18"
image:
  - src: nix1.jpg
  - src: nix2.jpg
  - src: nix3.jpg
  - src: nix4.jpg
  - src: nix5.jpg
deliverables: [Product Photography, Web Development]
roles: [Web Designer, Developer, Photographer, Account Manager]
credit: yes
description: Shopify website build with commissioned product photography for a unique watch.
video:
  - src: https://player.vimeo.com/video/563030173
  - src: https://player.vimeo.com/video/563030150
  - src: https://player.vimeo.com/video/563030130
  - src: https://player.vimeo.com/video/563030226
  - src: https://player.vimeo.com/video/563030111
---

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[0] %} {% include video-iframe.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ video.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[1] %} {% include video-iframe.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ video.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[2] %} {% include video-iframe.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ video.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[2] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[3] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[3] %} {% include video-iframe.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[4] %} {% include video-iframe.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[4] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>
