---
layout: work
title: Moonfest
hero: mnf4.jpg
color: "#D2842B"
image:
  - src: mnf1.jpg
  - src: mnf2.png
  - src: mnf3.png
  - src: mnf4.jpg
  - src: mnf5.jpg
  - src: mnf6.jpg
  - src: mnf7.jpg
deliverables: [Branding and Identity]
roles: [Designer]
description: Logo design for the University of Arizona's half-centenary celebration of the Apollo 11 moon landing.
credit: yes
---

<div class="py-2">
  <div class="row">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[2] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[3] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[4] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[5] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[6] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>
