---
layout: work
title: Fairwheel Bikes
hero: fwb1.jpg
color: "#98BB64"
image:
  - src: fwb2.jpg
  - src: fwb1.jpg
  - src: fwb3.jpg
  - src: fwb4.jpg
  - src: fwb5.jpg
  - src: fwb6.jpg
  - src: fwb7.jpg
  - src: fwb8.jpg
  - src: fwb9.jpg
  - src: fwb10.jpg
  - src: fwb11.jpg
  - src: fwb12.jpg
  - src: fwb13.jpg
  - src: fwb14.jpg
video:
  - src: https://player.vimeo.com/video/655101628
  - src: https://player.vimeo.com/video/655169184
deliverables: [Product Photography, Image Retouching]
roles: [Photographer, Editor]
description: Product photography for an internationally recognized retailer of bespoke bikes and hard to find components.
---

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-16x9">
        {% assign video = page.video[0] %} {% include video-iframe.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[3] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[13] %} {% include
        responsive-images-half.html %}
      </div>
    </div>
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[12] %} {% include
        responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[10] %} {% include
        responsive-images-half.html %}
      </div>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[11] %} {% include
        responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[5] %} {% include
        responsive-images-half.html %}
      </div>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[6] %} {% include
        responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[7] %} {% include
        responsive-images-half.html %}
      </div>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[8] %} {% include
        responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-16x9 pb-2">
        {% assign video = page.video[1] %} {% include video-iframe.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[2] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>
