---
layout: work
title: Natural Selection 2
hero: nst3.png
color: "#FEB12E"
image:
  - src: nst1.jpg
  - src: nst2.jpg
  - src: nst3.png
  - src: nst4.png
  - src: nst5.png
  - src: nst6.png
  - src: nst7.png
  - src: nst8.jpg
deliverables: [Branding and Identity]
roles: [Designer]
description: Worldbuilding and production design work for a Sci-fi first-person shooter title on PC.
video: https://player.vimeo.com/video/136413110
---

<div class="py-2">
  <div class="row">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[2] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[3] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[4] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[5] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[6] %} {% include
        responsive-images-half.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[7] %} {% include
        responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">{{ image.alt }}</h6>
    </div>
  </div>
</div>
