---

layout: work
title: Clip Health
image:
- src: clp1.jpg
- src: clp2.jpg
- src: clp3.jpg
- src: clp4.jpg
- src: clp5.jpg
- src: clp6.jpg
- src: clp7.jpg
- src: clp8.jpg
- src: clp9.jpg
categories:
- category: Logo Design
preview: Visual identity for a cutting-edge Covid-19 diagnostic, made to work on an iPhone.

---


<div class="pt-5 pb-2 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">

    <div class="col">
      <h1>{{ page.title }}</h1>
      <div>
          {% for item in page.categories %}
              <h6 class="text-muted">{{ item.category }}</h6>
          {% endfor %}
      </div>
    </div>

    <div class="col pt-2">
      <h5 class="text-muted">{{ page.preview }}</h5>
    </div>

  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">Clip Health Logo</h6>
    </div>
  </div>
</div>


<div class="py-5 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %}
        {% include srcset.html %}

      </div>
       <h6 class="pt-2 text-muted">Design Exploration</h6>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[2] %}
         {% include srcset.html %}

      </div>
      <h6 class="pt-2 text-muted"></h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[3] %}
        {% include srcset.html %}

      </div>
       <h6 class="pt-2 text-muted">App Icons</h6>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[4] %}
         {% include srcset.html %}

      </div>
      <h6 class="pt-2 text-muted"></h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[5] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">Packaging Mockups</h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[6] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">Packaging Mockups</h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[7] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">Packaging Mockups</h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[8] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">Packaging Mockups</h6>
    </div>
  </div>
</div>
