---
layout: work
title: Clip Health
hero: clp11.jpg
color: "#008BC0"
image:
  - src: clp12.jpg
  - src: clp2.png
  - src: clp3.png
  - src: clp4.png
  - src: clp5.jpg
  - src: clp6.png
  - src: clp7.png
  - src: clp8.png
  - src: clp10.jpg
  - src: clp11.jpg
  - src: clp13.jpg
video:
  - src: https://player.vimeo.com/video/653862628
  - src: https://player.vimeo.com/video/653864878
deliverables: [Branding and Identity, Web Design, Web Development]
roles: [Designer, Web Designer]
description: Visual identity and web design for a consumer health startup creating Covid19 testing products for home use.
credit: yes
---

<div class="py-2">
  <div class="row">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %} {% include
        responsive-images-half.html %}
      </div>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[2] %} {% include
        responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[3] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-3x2 pb-2">
        {% assign video = page.video[0] %} {% include video-iframe.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[4] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[10] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[5] %} {% include
        responsive-images-half.html %}
      </div>
    </div>

    <div class="col pb-2">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[6] %} {% include
        responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[8] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[9] %} {% include
        responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-2">
  <div class="row">
    <div class="col pb-2">
      <div class="ratio ratio-3x2 pb-2">
        {% assign video = page.video[1] %} {% include video-iframe.html %}
      </div>
    </div>
  </div>
</div>
