---
layout: default
title: Home
---
<!-- index.htm -->

    <div>
        <h1 class="flex items-center mb-8 gap-4 after:flex-1 after:h-0.5 after:bg-neutral-800">Selected Work</h1>
        <div class="grid gap-4 mb-8 md:gap-8 grid-cols-1 md:grid-cols-2">
        {% assign sorted = site.work | where_exp: "w", "w.parent == nil" | sort: 'date' | reverse %}
        {% for work in sorted %}
        {% include work_card.html index=forloop.index eager_count=2 %}
        {% endfor %}
        </div>
     </div>
</div>
<div class="mb-24">
    <div>
        <h2 class="flex items-center mt-4 mb-8 gap-4 after:flex-1 after:h-0.5 after:bg-neutral-800">Experience</h2>
    </div>    
    <div class="grid mb-4 border-t border-0.5 pt-2 md:grid-cols-2 md:gap-8">
        <h3 class="self-start flex items-center gap-4 mb-2">Freelance</h3>
        <div>
            <div class="flex justify-between items-center  gap-4 mb-2">
                <h4>Designer</h4>
                <p class="text-neutral-500 text-sm font-mono">2014 - Present</p>
            </div>
        </div>
    </div>
    <div class="grid mb-4 border-t border-0.5 pt-2 md:grid-cols-2 md:gap-8">
        <h3 class="self-start flex items-center gap-4 mb-2 ">
            <a href="https://tailscale.com" target="_blank">Tailscale ↗</a>
        </h3>
        <div>
            <div class="flex justify-between items-center gap-4 mb-1">
                <h4>Senior Brand Designer</h4>
                <p class="text-neutral-500 text-sm font-mono">2024 - 2026</p>
            </div>
            <div class="flex justify-between items-center gap-4 mb-1">
                <h4>Brand Designer</h4>
                <p class="text-neutral-500 text-sm font-mono">2022 - 2024</p>
            </div>
        </div>
    </div>
    <div class="grid mb-4 border-t border-0.5 pt-2 md:grid-cols-2 md:gap-8">
        <h3 class="self-start flex items-center gap-4 mb-2">
            <a href="https://godatdesign.com" target="_blank">Godat Design ↗</a>
        </h3>
        <div>
            <div class="flex justify-between items-center mb-1">
                <h4>Partner</h4>
                <p class="text-neutral-500 text-sm font-mono">2019 - 2022</p>
            </div>
            <div class="flex justify-between items-center mb-1">
                <h4>Senior Designer</h4>
                <p class="text-neutral-500 text-sm font-mono">2016 - 2019</p>
            </div>
            <div class="flex justify-between items-center mb-1">
                <h4>Designer</h4>
                <p class="text-neutral-500 text-sm font-mono">2014 - 2016</p>
            </div>
        </div>
    </div>




  



