---
title: Home
layout: default
---
<div class="mb-24">
    <div class="my-8 border-t-1 pt-4">
            <h2 class="font-medium mb-8">Selected Work</h2>
    </div>
        <div class="grid gap-4 mb-8 md:gap-9 grid-cols-1 md:grid-cols-2">
            {% assign sorted = site.work %}
            {% for work in sorted limit:4 %}
            <div class="transition-opacity duration-50">
                <a href="{{ site.url }}{{ work.url }}">
                {% assign images = site.static_files | where: "image", true | where_exp: "file", "file.path contains work.slug" %}
                {% assign image = images | first %}
                {% if image %}
                <img height:325 width:100% class="border-1 mb-4 transition-opacity duration-500 hover:opacity-80" src="{{ image.path | relative_url }}" alt="{{ work.title }}">
                {% endif %}</a>
                <h3 class="mb-2">
                    {{ work.title }}
                </h3>
                <p class="mb-4">
                    {{ work.description | truncate: 120 }}
                </p>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="mb-24">
    <div class="my-8 border-t-1 pt-4">
        <h2 class="font-medium mb-8">Experience</h2>
    </div>
        <div class="mb-8">
            <div class="grid grid-cols-2 font-mono uppercase text-sm mb-1 gap-9">
                <div class="grid grid-cols-1">
                    <p>Currently</p>
                </div>
                <div class="grid grid-cols-2">
                    <div class="grid grid-cols-1">
                        <p>Role</p>
                    </div>
                    <div class="grid grid-cols-1">
                        <p>Dates</p>
                    </div>
                </div>       
            </div>
            

                <div class="grid grid-cols-2 pb-2 border-t border-0.5 pt-2 gap-9">
                    <div class="grid grid-cols-1 my-2">
                        <h3>Freelance</h3>
                    </div>
                    <div class="grid grid-cols-2 my-2">
                        <div class="grid grid-cols-1">
                            <h4>Designer</h4>
                        </div>
                        <div class="grid grid-cols-1">
                            <p>2014 - Present</p>
                        </div>
                    </div>
                </div>
        </div>
        <div>
            <div class="grid grid-cols-2 font-mono uppercase text-sm mb-1 gap-9">
                <div class="grid grid-cols-1">
                    <p>Previously</p>
                </div>
                <div class="grid grid-cols-2">
                    <div class="grid grid-cols-1">
                        <p>Role</p>
                    </div>
                    <div class="grid grid-cols-1">
                        <p>Dates</p>
                    </div>
                </div>       
            </div>
            <div class="grid grid-cols-2 pb-2 border-t border-0.5 pt-2 gap-9">
                <div class="grid grid-cols-1 my-2">
                    <h3>
                        <a href="https://tailscale.com" target="_blank">Tailscale ↗</a></h3>
                </div>
                <div class="grid grid-cols-1">
                    <div class="grid grid-cols-2 my-2">
                        <div class="grid grid-cols-1">
                            <h4>Senior Brand Designer</h4>
                        </div>
                    <div class="grid grid-cols-1">
                        <p>2024 - 2026</p>
                    </div>
                </div> 
                <div class="grid grid-cols-2 my-2">
                    <div class="grid grid-cols-1">
                        <h4>Brand Designer</h4>
                    </div>
                    <div class="grid grid-cols-1">
                        <p>2022 - 2024</p>
                    </div>
                </div>  
            </div>
        </div>
                <div class="grid grid-cols-2 pb-2 border-t border-0.5 pt-2 gap-9">
                    <div class="grid grid-cols-1 my-2">
                        <h3><a href="https://godatdesign.com" target="_blank">Godat Design ↗</a></h3>
                    </div>
                        <div class="grid grid-rows-3">
                            <div class="grid grid-cols-2 my-2">
                                <div class="grid grid-cols-1">
                                    <h4>Partner</h4>
                                </div>
                                <div class="grid grid-cols-1">
                                    <p>2019 - 2022</p>
                                </div>
                            </div>
                            <div class="grid grid-cols-2 my-2">
                                <div class="grid grid-cols-1">
                                    <h4>Senior Designer</h4>
                                </div>
                                <div class="grid grid-cols-1">
                                    <p>2016 - 2019</p>
                                </div>
                            </div>
                            <div class="grid grid-cols-2 my-2">
                                <div class="grid grid-cols-1">
                                    <h4>Designer</h4>
                                </div>
                                <div class="grid grid-cols-1">
                                    <p>2014 - 2016</p>
                                </div>
                            </div>
                        </div>
                    </div>  
            </div>
        </div>
    </div>
</div>
