---
layout: default
title: Work
categories: ["All", "Brand", "Web", "Print", "Media"]
---
<div>
    <div class="my-8 border-t-1 pt-4 grid grid-cols-2">
        <div class="grid grid-cols-1">
            <h2 class="font-medium col-span-1">All work</h2>
        </div>
        <!--- 
        <div class="flex gap-1 justify-end">
                {% for category in page.categories %}
                <a href="#"><label class="px-2 py-1 bg-stone-300 text-stone-600 align-middle rounded-sm">{{ category }}</label></a>
                {% endfor %}
            </div>
        --->
    </div>
</div>
    </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mb-8">
            {% for work in site.work %}
            <div class="transition-opacity duration-50 hover:opacity-80 mb-6">
                <a href="{{ site.url }}{{ work.url }}">
                {% assign images = site.static_files | where: "image", true | where_exp: "file", "file.path contains work.slug" %}
                {% assign image = images | first %}
                <img height:325 width:100% class="border-1 mb-4" src="{{ site.url }}/{{ site.image_url }}/{{ work.slug }}/{{ work.slug }}{{ image.extname }}" alt="{{ work.title }}">
                 </a>
                <h3 class="mb-2">
                    {{ work.title }}
                </h3>
                <p>
                    {{ work.description | truncate: 120 }}
                </p>

            </div>
            {% endfor %}
        </div>
    </div>
</div>