<div class="py-5 container-fluid" id="footer-container">
  <div class="container-fluid">
  <div class="row row-cols-1 row-cols-lg-2">

  <div class="col col-sm-6 col-md-6 col-lg-3">
    <h5>
        <a href="#" {% if page.is_post == true %} style="color: #030303;" {% else %} style="color: #EEEBEA;"{% endif %}title="Back to Top">Back to Top <span class="arrow">↖</span></a>
    </h5>
  </div>

  <div class="col col-sm-6 col-md-6 col-lg-3">
      <p class="text-muted pt-2 copyright">© <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> Danny Pagano</p>
  </div>

</div>
</div>
</div>
