<footer class="grid grid-cols-1 mb-12 border-t-1 mt-48 pt-4 md:grid-cols-2 md:gap-9">
    <div class="grid grid-cols-1 mb-4">
        <p>
            © {{ site.time | date: "%Y" }} Danny Pagano
        </p>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        <div class="grid grid-cols-1">
            <ul>
                <li>
                    <a href="/about">
                        <p>
                            About
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/work">
                        <p>
                            Work
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-span-2">
            <a href="#top">
                <p>
                    Back to top ↑
                </p>
            </a>
        </div>       
    </div>
</footer>