<div class="py-5 container-fluid work-grid">
  <div class="container-fluid">
      <h4 class="mx-2 py-5 text-muted">More Projects</h4>
  </div>
  
  <div class="row row-cols-1 row-cols-sm-1 rows-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-4 mx-2">
    {% for project in site.data.projects limit: 5 %}
      {% if project.url != page.url %} 

          <div class="col mb-2">
            <div>
              <div class="ratio pb-3"  style="--aspect-ratio: 66%">
                  <a href="{{ project.url }}"><img width="100%" src="{{ project.image }}"></a>
              </div>
              
              <div>
                <a href="{{ project.url }}"><h5>{{ project.name }}</h5></a>
                <p class="text-muted">{{ project.preview | truncate: 120 }}</p>
              </div>
            </div>
          </div>

      {% else %}
        {% assign found = true %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="container-fluid">
    <h5 class="mx-2 py-5 text-muted"><a href="/">All Projects <span class="arrow">→</span></a></h5>
  </div>
    
</div>


