    <div class="py-3 my-5 container-fluid" id="navigation-bar">
      <div class="row">
        <div class="col">
          <a href="/" title="Home">
            <img id="logo" src="/images/Logo_White.svg" alt="Site Logo">
          </a>
        </div>
        <div class="col col-sm-6 navcol">
          <nav>
            <div class="float-end" id="navcontainer">
              <ul>
              <li><a href='/' title="Home">Work</a></li>
              <li><a href='/about' title="About">About</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
