    <div class="py-3 pt-5 my-5 container-fluid">
      <div class="row mx-2">
        <div class="col col-sm">
          <a href="#">
            <h3 class="pt-1" id="logo"><a href="/"><span class="dot">dp</span> danny pagano</a></h3>
          </a>
        </div>
        <div class="col col-sm navcol">
          <nav>
            <div class="float-end" id="navcontainer">
              <a href='/'>Work</a>
              <a href='/about'>About</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
