<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@site_username" />
<meta name="twitter:creator" content="@creator_username" />
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}" />
{% else %}
<meta name="twitter:title" content="{{ site.title }}" />
{% endif %} {% if page.url %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
{% endif %} {% if page.description %}
<meta name="twitter:description" content="{{ page.description }}" />
{% else %}
<meta name="twitter:description" content="{{ site.description }}" />
{% endif %} {% if page.image %} {% assign image = page.image[0] %} {% assign
width = 1300 %}
<meta
  name="twitter:image:src"
  content="https://dannypagano.com{{ site.image_url }}/resized/{{ width }}/{{ image.src }}"
/>
{% else %}
<meta
  name="twitter:image:src"
  content="https://dannypagano.com/images/opengraph.png"
/>
{% endif %}

<meta content="{{ site.title }}" property="og:site_name" />
{% if page.title %}
<meta content="{{ page.title }}" property="og:title" />
{% else %}
<meta content="{{ site.title }}" property="og:title" />
{% endif %} {% if page.description %}
<meta content="{{ page.description }}" property="og:description" />
{% else %}
<meta content="{{ site.description }}" property="og:description" />
{% endif %} {% if page.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url" />
{% endif %} {% if page.date %}
<meta
  content="{{ page.date | date_to_xmlschema }}"
  property="article:published_time"
/>
{% endif %} 
{% if page.image %} {% assign image = page.image %}
<meta
  name= "twitter:image:src"
  content="https://dannypagano.com/{{ page.image }}/1936w/"
  property="og:image"
/>
{% else %}
<meta
  name="twitter:image:src"
  content="https://dannypagano.com/images/opengraph.png"
/>
{% endif %}
