<div class="py-5 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
     <img src="{{ image.two }}">
        
      </div>
       <h6 class="pt-2 text-muted">Caption</h6>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
     <img src=../assets/3000x2000-test.jpg>
         
      </div>
      <h6 class="pt-2 text-muted">Caption</h6>
    </div>
  </div>
</div>