@import "alliance-semibold.css";
@import "alliance-light.css";
@import "alliance-regular.css";
@import "generisch-regular.css";

body {
  background-color: black ;
  color: white ;
  font-family: "Alliance-Light";
}

h1, h2, h3, h4{
    font-family: "Alliance-SemiBold";
}

h5 {
  font-family: "Alliance-Light";
  line-height: 1.7rem;
}

.about h5 {
  font-size: 1.5rem;
  line-height: 1.9rem;
}

p a {
  font-family: "Alliance-Light";
}

h6 {
  font-family: "Generisch-Regular" !important;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
  color: #6C757D;
}
.link {
  text-decoration: underline;
}

nav a {
  font-size: 1.5rem;
}

nav a:nth-child(2) {
    padding-left: 1rem;
}

span.dot {
  color: #000;
  background-color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  height: 16px;
  min-width: 14px;
  padding: 0px 6px 8px 5px;
  text-align: center;
  letter-spacing: -1px;
}

.work-grid p {
  font-family: "Alliance-Regular";
}

.light {
  background-color: white ;
  color: black ;
}

.dark {
  background-color: black;
  color: white;
}

.arrow {
  font-size: 1.8rem;
}

.colophon {
 height: 100%;
}

#disclaimer {
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  left: -185px;
  top: 800px;
}

@media only screen and (max-width:576px) {

  .work {
    margin-left: .75rem;
    margin-right: .75rem;
  }
}

@media only screen and (max-width:576px) {

  nav a {
    font-size: 1.2rem;
  }

  #logo {
    font-size: 1.25rem;
  }

  span.dot {
    color: #000;
    background-color: #fff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    height: 16px;
    min-width: 14px;
    padding: 0px 5px 7px 4px;
    text-align: center;
    letter-spacing: -1px;
  }

  #navcontainer {
    margin-top: 3px;
  }

  #navcol {
    max-width: 33%;
  }

  footer a {
    font-size: 1.2rem;
  }

  #footercontainer {
    margin-top: 6px;
  }
}
