@import "alliance-bold.css";
@import "alliance-semibold.css";
@import "alliance-regular.css";
@import "generisch-semibold.css";
@import "generisch-regular.css";
  

h1, h2, h3 {
    font-family: "Alliance-SemiBold";
}

h4, h5 {
  font-family: "Alliance-Regular";
}

p {
  font-family: "Alliance-Regular";
}

h6 {
  font-family: "Generisch-Regular" !important;
  opacity: 0.5;
}

body {
  background-color: black !important;
  color: white !important;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
  color: inherit;
}