@import "alliance-semibold.css";
@import "alliance-light.css";
@import "alliance-regular.css";
@import "generisch-regular.css";
  
body {
  background-color: black ;
  color: white ;
  font-family: "Alliance-Light"
}

h1, h2, h3, h4{
    font-family: "Alliance-SemiBold";
}

h5 {
  font-family: "Alliance-Light";
  line-height: 1.7rem;
}

.about h5 {
  font-size: 1.5rem;
  line-height: 1.9rem;
}

p a {
  font-family: "Alliance-Light";
}

h6 {
  font-family: "Generisch-Regular" !important;
  opacity: 0.5;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
  color: inherit;
}

nav a {
  font-size: 1.5rem;
}

nav a:nth-child(2) {
    padding-left: 1rem;
}

.work-grid p {
  font-family: "Alliance-Regular";
}

.light {
  background-color: white ;
  color: black ;
}

.dark {
  background-color: black;
  color: white;
}

.arrow {
  font-size: 1.8rem;
}

@media only screen and (max-width:576px) {
  
  .work {
    margin-left: .75rem;
    margin-right: .75rem;
}

}