/*
Font: 		Alliance No.1
Styles: 		Regular, Light, Semibold
URL: 		https://www.youworkforthem.com/font/T9667/alliance
Foundry: 	Degarism Studio
Foundry: 	https://www.youworkforthem.com/designer/869/degarism-studio
Copyright:	Copyright © 2017 by Deni Anggara. All rights reserved.
Version: 	17
Created:	July 23, 2018
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFonts(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Alliance-Regular';
	src: url('alliance-no-1-regular.eot');
	src: url('alliance-no-1-regular.eot?#iefix') format('embedded-opentype'),
             url('alliance-no-1-regular.woff2') format('woff2'),
	     url('alliance-no-1-regular.woff') format('woff'),
	     url('alliance-no-1-regular.ttf') format('truetype'),
	     url('alliance-no-1-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alliance-SemiBold';
	src: url('alliance-no-1-semibold.eot');
	src: url('alliance-no-1-semibold.eot?#iefix') format('embedded-opentype'),
             url('alliance-no-1-semibold.woff2') format('woff2'),
	     url('alliance-no-1-semibold.woff') format('woff'),
	     url('alliance-no-1-semibold.ttf') format('truetype'),
	     url('alliance-no-1-semibold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}




/*
Font: 		Generisch Mono
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T11632/generisch-mono
Foundry: 	Akufadhl
Foundry: 	https://www.youworkforthem.com/designer/685/akufadhl
Copyright:	Copyright © 2019 by Akufadhl. All rights reserved.
Version: 	17
Created:	December 05, 2019
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFonts(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Generisch-Regular';
	src: url('generisch-mono-regular.eot');
	src: url('generisch-mono-regular.eot?#iefix') format('embedded-opentype'),
             url('generisch-mono-regular.woff2') format('woff2'),
	     url('generisch-mono-regular.woff') format('woff'),
	     url('generisch-mono-regular.ttf') format('truetype'),
	     url('generisch-mono-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}



/* styles to set narrow page width to 1920px */
main {
	max-width: 1920px;
}

#navigation-bar {
	position: absolute;
	z-index: 10;
	top: 0px;
	z-index: 10;
	right: 0px;
	left: 0px;
	max-width: 1920px;
}

#footer-container {
	max-width: 1920px;
}

nav ul {
	list-style: none;
	margin-right: 2rem;
}

#logo {
	margin-left: 1rem;
}

/* end of styles to narrow overall page width to 1920px*/

/* styles to set overall page width to 100% *


main {
	max-width: 100%;
}

#navigation-bar {

	margin-left: 12px;
	margin-right: 12px;
	max-width: 100%;
}

#footer-container {
	bottom: 0px;
	position: static;
	left: 0px;
	right: 0px;
	max-width: 100%;
}

nav ul {
	list-style: none;
	margin-right: 1rem;
}

#logo {
	margin-left: 0rem;
}

/* end of styles to set overall page width to 100% */

body {
	background-color: black;
  color: white ;
  font-family: "Alliance-Regular", Helvetica, Arial, "System";
	--animate-duration: 1s;

}

h1, h2, h3 {
    font-family: "Alliance-SemiBold", Helvetica, Arial, "System";
}

h2 {
	font-size: 1.75rem;
}

h5 {
  font-family: "Alliance-Regular", Helvetica, Arial, "System";
  line-height: 2rem;
	font-size: 1.5rem;
}

#post-column h5 {
	font-family: "Alliance-Regular", Helvetica, Arial, "System";
}

h6 {
  font-family: "Generisch-Regular", Helvetica, Arial, "System";
	font-size: 1.2rem;
}

p {
  font-family: "Alliance-Regular", Helvetica, Arial, "System";
	font-size: 1.2rem;
	color: #6c757d;
}


a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.75;
	color: inherit;
	transition: 0.2s;
}

.link {
  text-decoration: underline;
}

nav ul {
	list-style: none;
}
nav li {
	display: inline-block;
}
nav a {
  font-size: 1.5rem;
	padding-left: 1rem;
}

nav a first:child {
	padding-left: 0px;
}

#logo {
	max-width: 250px;
	margin-top: -2px;
}

#intro-block h3 {
	font-family: "Alliance-Regular";
}

.page-wrapper {
	margin-top: 200px;
}

.light {
  background-color: white ;
  color: black ;
}

.dark {
  background-color: black;
  color: white;
}

.arrow {
  font-size: 1.8rem;
}

.colophon {
 height: 100%;
}

#logo a:hover {
	opacity: .8;
}

.error {
	font-size: 25rem;
}

.error-container {
	height: 100%;
}

.link {
	color: #fff;
}

.tag-pill {
		padding: 5px 10px;
		color: rgba(0,0,0,.75);
		font-size: .9rem;
}

.tag-pill.design {
	background-color: #EFCC56;

}

.tag-pill.technology {
	background-color:#3EB78B;
}

.tag-pill.general {
	background-color: #B95E7C;
}

.tag-pill.learning {
	background-color: #5A76E8;
}

.post-date {
	font-size: 0.9rem;
}
.post-tag {
	vertical-align: middle;
}


hr {
	border: 1px solid #ADBAC8;
}

img {
    max-width: 100%;
    height: auto;
}

.ratio-3x2 {
	--aspect-ratio: calc(2/3 * 100%);
}

.hero-header {
	top: 0px;
	left: 0px;
	width: 100%;
	/*
	z-index: -1;
	background-size: cover;
	height: 50vh;
	background-position: center;
	opacity: .75;
	*/
}

.hero-header-color {
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
	height: 33vh;
}

.hero-image {
	z-index: -10;
	width: 100%;
	height: 75vh;
	object-fit: cover;
}



#post-column {
	max-width: 730px;
}

@media only screen and (max-width:576px) {

	.error {
		font-size: 15rem;
	}

  .row {
    --bs-gutter-x: .5rem;
  }

	#navcontainer {
		text-align: right;
	}

 #navcontainer li a {
	 margin: .5rem 10px .5rem 0px;
 }

 #logo {
	 margin-left: 0.5rem;
 }

  .navcol {
    max-width: 33%;
  }

	nav ul {
		list-style: none;
		margin-right: 1rem;
	}

	h2.intro  {
		font-size: 1.5rem;
		line-height: 2rem;
	}


  footer a {
    font-size: 1rem;
  }
}
