---
layout: default
---
{% if page.credit == true %}
<div class="mb-8">
    <p class="font-medium">All photos by <a href="{{ page.credit-url }}">Julius Schlosburg</a></p>
</div>
{% endif %}

<div>
    <div class="grid grid-cols-1">
        <h1 class="font-medium mb-6">{{ page.title }}</h1>

        {% assign folder = "/assets/images/originals/" | append: page.slug | append: "/" %}
        {% assign candidate_images = site.static_files | where_exp: "file", "file.path contains folder" %}
        {% assign logo_images = candidate_images | where_exp: "file", "file.path contains '/logos/'" %}
        {% assign work_images = candidate_images | difference: logo_images %}
        {% assign work_images = work_images | where_exp: "file", "file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.png' or file.extname == '.webp'" %}

        {% for image in work_images %}
          {% assign path = image.path | remove_first: "/" %}
          <div class="w-full border-1 mb-9">
            {% responsive_image_block %}
              path: "{{ path }}"
              alt: "{{ page.title }}"
              title: "{{ page.title }}"
            {% endresponsive_image_block %}
          </div>
        {% endfor %}
    </div>
</div>