---
layout: default
---
<!-- _layouts/work.html -->
<div class="flex flex-col gap-12">
  <div class="flex flex-col">
    <section aria-label="Title and Overview" class="flex flex-col">
        <div class="flex flex-row mb-4 gap-4">
          <div class="flex flex-1 items-center h-[24px] gap-4 after:flex-1 after:h-0.5 after:bg-neutral-800">
            <div>
              <h4 class="text-xs text-neutral-500"><a href="{{ site.url }}/work/" class="">Work</a> / {% if page.parent %}<a href="{{ site.url }}/work/{{ page.parent }}"><span class="">{{ page.parent | capitalize }}</span></a> / {% endif %}{{ page.title }}</h1>
            </div>
          </div>
          {% assign categories = page.categories %}
          {% if page.categories.size != 0 %}
            <div class="flex flex-row flex-wrap flex-end gap-1">
              {% include work_categories.html %}
            </div>
          {% endif %}
        </div>
        <div>
          {% include work_header.html %}
        </div>
    </section>
    <section aria-label="Project Images" class="flex flex-col mb-12">
      {% assign image_folder = page.image_folder | default: page.slug %}
      {% include work_images.html slug=image_folder %}
      {% include work_pattern.html %}
    </section>
    {% if page.deliverables or page.roles %}
      <div class="flex flex-col mb-12">
        <section aria-label="Roles and Deliverables">
          {% include work_roles_deliverables.html %}
        </section>
      </div>
    {% endif %}
    <div class="flex flex-col">
      <section aria-label="Related Work">
        {% include work_related.html %}
      </section>
    </div>
  </div>
</div>